{% extends "layout.html" %}
 {% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    .head_text{
      color: white;
    }
    .card{
      box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<br><br>
<div class="container">
  <div class="card mb-4" >
    <div class="card-body">
      <h2 class="card-title">Our Policy</h2>
      <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum eu felis non ornare. Quisque rhoncus tellus sit amet velit ullamcorper feugiat. Mauris bibendum ornare porttitor. Nunc ut pulvinar nibh, eu pharetra arcu. Sed a porttitor ante. Aliquam at laoreet dolor, ac laoreet lorem. Integer eu nibh fringilla, pretium mauris in, lobortis purus.

      Nulla ut velit id velit sagittis rutrum quis vitae massa. Vivamus purus massa, auctor vitae lectus a, varius aliquet neque. Maecenas maximus ex ligula, eu consequat sapien vestibulum id. Suspendisse a congue risus, sit amet fringilla quam. Vestibulum consectetur consectetur consequat. Nulla et metus ut dui eleifend tempus id ac ante. Nulla mattis turpis nec augue aliquet scelerisque. Donec eget ornare purus. Aliquam congue molestie viverra. Etiam urna purus, accumsan eget enim in, congue dictum odio. Aliquam pretium purus vitae velit tincidunt, non fringilla felis ultrices. Vestibulum at diam in libero viverra pellentesque quis eu massa. Praesent id blandit felis. Suspendisse eget nulla eget urna vulputate tristique. In ultrices eros sit amet nunc egestas tincidunt.

      Integer mauris nisi, pretium vitae nibh auctor, egestas molestie diam. Pellentesque aliquet faucibus suscipit. Vivamus imperdiet malesuada purus in facilisis. Sed consectetur ut nulla non facilisis. Maecenas sed justo et risus ultricies venenatis ac ac risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed at velit sed ante imperdiet volutpat. Vestibulum nec euismod dolor, et iaculis eros. Proin lacinia tincidunt eros, eget sollicitudin massa tempus non. Donec volutpat dui ex, fringilla hendrerit erat ullamcorper ac.

      Curabitur fringilla accumsan neque, nec ornare nunc convallis in. Aenean eget sapien turpis. Donec vel urna luctus sem gravida volutpat. Phasellus iaculis vitae nisi et consequat. Donec nisi dolor, convallis vel sem nec, posuere malesuada urna. Sed tincidunt, enim nec vestibulum condimentum, tellus neque vestibulum diam, non aliquam nisi magna nec sapien. Etiam ullamcorper sollicitudin eros quis venenatis. Suspendisse egestas, urna nec sagittis dignissim, mi diam condimentum enim, lacinia imperdiet mauris turpis eget risus. Curabitur elit sem, bibendum in nulla eget, malesuada consequat orci.
     </p>
    </div>
  </div>
</div>
{% endblock content %}
